/* Small devices (landscape phones, 576px and up) */ 
@media only screen and (min-width : 576px) {


}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
  #header {
    .top-page-nav {
      .tp-left {
        float: left;
      }
      .tp-right {
        width: auto;
        margin-left: auto;
        position: relative;
      }
    }
  }
  #newsletter {
    padding: 20px 15px;
    .newsletter-left {
      p {
        padding-top: 15px;
      }
    }
    .social-icons {
      ul {
        padding-top: 15px;
        li {
          a {
            color: white;
          }
        }
      }
    }
    #your_email {
      width: 78%;
      float: left;
      margin-bottom: 0;
    }
    #subscribe {
      margin-bottom: 0;
      float: right;
      width: 20%;
    }
  }

  #footer {
    .footer-top {
      padding-top: 20px;
    }
  }
  .main-menu > ul > li {
    text-align: right;
  }
  .widget-area {
    width: 100%;
    .widget-title {
      margin-bottom: 20px;
    }
    .widget-text {
      padding-bottom: 0;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width : 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width : 1200px) {
  #header {
    .top-page-nav {
      width: 100%;
      .tp-left {
        a {
          font-size: 14px;
        }
      }
    }
    #top-page {
      height: 50px;
      line-height: 50px;
    }
    #nav {
      .navbar-toggler-right {
        display: none;
      }
    }
  }
  .menu-search {
    display: block;
  }
  .main-menu {
    padding: 0;
    z-index: 999;
    width: auto;
    margin-left: auto;
    float: right;
    ul {
      li {
        padding-left: 30px;
        float: left;
        position: relative;
        a {
          height: 80px;
          line-height: 80px;
        }
        ul {
          background: white;
          margin-top: 0;
          display: none;
          position: absolute;
          top: 80px;
          left: 0;
          width: 200px;
          li {
            width: 100%;
            a {
              height: 30px;
              line-height: 30px;
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
        &.has-sub {
          &:after {
            content: "\f107";
            font-family: $ff1;
          }
        }
      }
    }
  }
  .product-detail {
    .product-image {
      position: relative;
      height: 400px;
      width: 400px;
      img {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  #sync1 {
    .owl-item {
      position: relative;
      height: 400px;
      img {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  #sync2 {
    .owl-item {
      position: relative;
      height: 100px;
      img {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@media only screen and (min-width : 1450px) {
  .container {
    max-width: 1400px;
  }
  .widget-area {
    padding: 20px 30px;
  }
  #content {
    #promotion {
      .inner {
      }
    }
    #brands {
      
      .widget-title {
        .title-partner {
        }
        .hr-line {
        }
      }
      .widget-area {
        .item {
          a {
          }
        }
      }
    }
    
  }
  
}

