@media only screen and (max-width : 600px) {
  .copyright {
    text-align: center;
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */ 
@media only screen and (min-width : 576px) {


}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width : 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width : 1200px) {
  .welcome-group {
    .wg-title {
      font-size: 48px;
      margin-bottom: 20px;
    }
    .wg-img {
      li {
        float: left;
        width: calc(20% - ( ( 4% + 4% + 4% + 4% ) * 0.2 ) );
        margin-left: 4%;
        margin-bottom: 20px;
        &:first-child {
          margin-left: 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .advantages {
    .a-inner {
      width: 65%;
      margin: 0 auto;
    }
    .a-title {
      font-size: 48px;
    }
    .a-text {
      line-height: 1.9;
    }
  }
  .menu-search {
    display: block;
  }
  .main-menu {
    width: auto;
    padding: 0;
    z-index: 999;
    margin-left: auto;
    float: right;
    ul {
      li {
        padding-left: 30px;
        float: left;
        a {
          height: 120px;
          line-height: 120px;
        }
      }
    }
  }
}

