$active: #0f7ba9;
$title: #187690;
$link: #000;
$hover: #227885;
$bg-menu: rgba(59,175,191,0.8);
body {
  font-family: Arial;
}
#header {
  background-image: url('../img/header_bg.jpg');
  background-repeat: repeat;
  .logo {
    margin: 10px 0;
  }
  #mainNav {
    position: relative;
    .navbar-toggler-right {
      position: absolute;
      top: -100px;
      right: 15px;
      outline: none;
    }
  }
}
.main-menu {
  position: relative;
  z-index: 999;
  width: 100%;
  ul {
    margin-top: 10px;
    li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      cursor: pointer;
      a {
        height: 30px;
        line-height: 30px;
        color: $link;
        &:hover {
          color: $hover;
          text-decoration: none;
        }
      }
      &.active {
        a {
          color: $active;
        }
      }
    }
  }
}
.main-menu > ul > li {
  padding-right: 30px;
}
.icon-search {
  &:after {
    content: '\f002';
    font-family: 'FontAwesome';
  }
}
.welcome-group {
  .wg-title {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .widget-area {
    width: 100%;
    .wg-img {
      width: 20%;
      float: left;
    }
  }
}
.advantages {
  background-image: url('../img/Advantages_bg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
  .a-title {
    width: 100%;
    text-align: center;
    color: #55bbda;
    font-size: 28px;
    margin-bottom: 15px;
  }
  .a-text {
    text-align: center;
  }
}
#footer {
  .footer-bottom {
    color: #666666;
    background-color: #80d4de;
    border-top: 1px solid #f7f7f7;
    padding: 20px 0;
  } 
}
.widget-area {
  padding: 20px 30px;
  .widget-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.bng-checklist {
  .bng-li-item {
    line-height: 26px;
    padding: 6px 0;
    .icon-wrapper {
      float: left;
      width: 27px;
      height: 27px;
      display: table-cell;
      text-align: center; 
      vertical-align: middle;
      margin-right: 10px;
      &.circle {
        background: #3bafbf;
        color: white;
        border-radius: 50%;
      }
    }
    .bng-li-item-content {
      margin-left: 37px;
    }
  }
}

.menu-search {
  display: none;
  &.menu-search-open {
    .bng-custom-menu-item-contents {
      display: block;
    }
  }
  .bng-custom-menu-item-contents {
    height: 100px;
    display: none;
    background-color: $bg-menu;
    border-color: rgba(255,255,255,0.58);
    padding: 25px;
    width: calc(250px + 1.43 * 50px);
    position: absolute;
    top: 120px;
    right: 0;
    z-index: 9999;
    .bng-search-form-content {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      width: 100%;
    }
    input {
      border-right: none;
      border: 1px solid #d2d2d2;
      color: white;
      width: 100%;
      height: 50px;
    }
    input[type="text"] {
      padding: 0 15px;
      border-right: 0;
      background-color: rgba(255,255,255,0);
      outline: 0;
    }
    .bng-search-field {}
    .screen-reader-text {
      display: none;
    }
    .bng-search-button {
      input[type="submit"] {
        height: 50px;
        width: 50px;
        line-height: 50px;
        background: url('../img/icon-search.png') no-repeat center center #000;
        background-size: 50% 50%;
        border: none;
        border-radius: 0;
        color: #fff;
        font-size: 1em;
        margin: 0;
        padding: 0;
        text-indent: 0;
        cursor: pointer;
        font-family: icomoon;
        font-weight: 400;
        text-shadow: none;
        -webkit-font-smoothing: antialiased;
        transition: all .2s;
      }
    }
  }
  .bng-search-field {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}






















