$active: #0f7ba9;
$title: #187690;
$link: #000;
$hover: #227885;
$bg-menu: rgba(59,175,191,0.8);
body {
  font-family: Arial;
}
#header {
  background-image: url('../img/header_bg.jpg');
  background-repeat: repeat;
  .logo {
    margin: 10px 0;
  }
}
.main-menu {
  float: right;
  position: relative;
  z-index: 999;
  margin-left: auto;
  ul {
    margin-top: 10px;
    li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      cursor: pointer;
      a {
        height: 120px;
        line-height: 120px;
        color: $link;
        &:hover {
          color: $hover;
          text-decoration: none;
        }
      }
      &.active {
        a {
          color: $active;
        }
      }
    }
  }
}
.main-menu > ul > li {
  padding-right: 30px;
}
.icon-search {
  &:after {
    content: '\f002';
    font-family: 'FontAwesome';
  }
}
.welcome-group {
  .wg-title {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .widget-area {
    width: 100%;
    .wg-img {
      width: 20%;
      float: left;
    }
  }
}
.advantages {
  background-image: url('../img/Advantages_bg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
  .a-title {
    width: 100%;
    text-align: center;
    color: #55bbda;
    font-size: 28px;
    margin-bottom: 15px;
  }
  .a-text {
    text-align: center;
  }
}
#footer {
  .footer-bottom {
    color: #666666;
    background-color: #80d4de;
    border-top: 1px solid #f7f7f7;
    padding: 20px 0;
  } 
}
.widget-area {
  padding: 20px 30px;
  .widget-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.bng-checklist {
  .bng-li-item {
    line-height: 26px;
    padding: 6px 0;
    .icon-wrapper {
      float: left;
      width: 27px;
      height: 27px;
      display: table-cell;
      text-align: center; 
      vertical-align: middle;
      margin-right: 10px;
      &.circle {
        background: #3bafbf;
        color: white;
        border-radius: 50%;
      }
    }
    .bng-li-item-content {
      margin-left: 37px;
    }
  }
}























